body,html{
    margin: 0%;
    background:#cfc8c8!important;
    
}

h1{
  margin-top: 20px !important;
  color: #071B34;
  font-family: Bookman-Old-Style;
}



#navar{
    background-color: #071B34 !important;
    padding-left: 200px;
    padding-right: 200px;
    font-family: Bookman Old Style;
    font-size: 20px;
}


#publicidad{
  margin-top: 70px;
}

.decripcion, .autor{
  margin-left: 10px;
  font-size: 11px;
  justify-content: center!important;
}

.simpleSlider {
  margin-top: 50px;
}
 
/*slider*/
body { margin: 0; } 
div#slider { overflow: hidden; } /* las imágenes no van a salir del márgen de la pantalla*/
div#slider figure img { width: 20%; float: left; }

div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 15s slidy infinite; /*el movimiento se va a mantener de forma indefinida -infinito-*/
}


/*esta parte del código define el movimiento de las imágenes a la izquierda*/
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}


.results{

  margin-top: 120px!important;
}


/*btn filter*/
.filter{
  float: right !important;
  margin-top: 0% !important;
}


/*Card*/

.card-deck{
 float: left !important;
}
ul{
  text-decoration: none;
}
.card:hover {
  transform: scale(1.03);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.card {
  margin-top: 100px!important;
  transition: 0.20s ease;
  cursor: pointer;
  margin:30px;
}


.card-title{
 margin-left: 10px;
 font-size: 20px;
 font-family: Bookman-Old-Style;
 color: #071B34;
}
.card-body{
  font-family: Arial, Helvetica, sans-serif;
  font: bold;
  font-size: 14px;
  color:#252525;
  padding: 8px!important;
  margin-top: 0% !important;
  width: 200px;
  height: 200px;
 }


.card-img{
  width: 210px;
  height: 280px;
  padding: 4px;
  margin-left: 1px;

}


/*btn*/
.btn-light{
  background-color: #7B113A !important;
  font-size: 16px !important;
  font-family: Arial, Helvetica, sans-serif;
  color: white !important;
  margin-top: 50px;
  margin-left: 500px;

}


.btn-outline-ligth{
  background-color: #7B113A !important;
  font-size: 16px !important;
  font-family: Arial, Helvetica, sans-serif;
  color: white !important;
}


.btn-return{
  padding: 20px !important;
  margin-top: 12px;
}


.fas.fa-sign-out-alt{
  color: white;
}

  
 /* login */


.box-container{

  margin-top: 20px;
  background-color:  #071b34;
  border-radius: 7px;
  padding: 35px;
  width: 350px;
  height: 400px;
  margin-left: 500px;
 
  margin-top: 120px;
} 

.login-tittle{
   
  margin-left: 90px;
  margin-top: 20px;
  color: white;
  font-size: 34px;
  margin-bottom: 20px;
}


.auth__social-network {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  
} p {
  color: rgb(129, 129, 129);
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  margin-left: 40px;
}


/*Google*/

.google-btn {
  cursor: pointer;
  margin-top: 50px;
  width: 100%;
  height: 42px;
  background-color: #7b113ab2;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(85, 82, 82, 0.25);

  transition: box-shadow .3s ease;
} b {
  margin-right: 15px;
}b:hover{
  text-decoration: underline;
}

.google-icon-wrapper {
      position: absolute;
      margin-top: 1px;
      margin-left: 1px;
      width: 40px;
      height: 40px;
      border-radius: 2px;
      background-color: white;
  }

  .google-icon {
      position: absolute;
      margin-top: 11px;
      margin-left: 11px;
      width: 18px;
      height: 18px;
  }
  .btn-text {
      float: right;
      margin: 11px 30px 0 0;
      color: white;
      font-size: 14px;
      letter-spacing: 0.2px;
  }


  /*Facebook*/
.facebook-btn {
  cursor: pointer;
  margin-top: 50px;
  width: 100%;
  height: 42px;
  background-color: #7b113ab2;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(85, 82, 82, 0.25);

  transition: box-shadow .3s ease;
} b {
  margin-right: 15px;
}b:hover{
  text-decoration: underline;
}

.facebook-icon-wrapper {
      position: absolute;
      margin-top: 1px;
      margin-left: 1px;
      width: 40px;
      height: 40px;
      border-radius: 2px;
      background-color: white;
  }

  .facebook-icon {
      position: absolute;
      margin-top: 11px;
      margin-left: 11px;
      width: 18px;
      height: 18px;
  }
  .btn-text {
      float: right;
      margin: 11px 30px 0 0;
      color: white;
      font-size: 14px;
      letter-spacing: 0.2px;
  }

  /* footer*/

  
.social-footer {
  padding: 1rem;
  background: #8a8a8a;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-footer .social-footer-icons li:last-of-type {
  margin-right: 0;
}

.social-footer .social-footer-icons .fab {
  margin-top: 10px;
  font-size: 30px;
  color: #fefefe;
  padding: 7px;
}

.social-footer .social-footer-icons .fab:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}

.social-footer-left .fas{
  margin-top: 10px;
  font-size: 30px;
  color: #fefefe;
  padding: 7px;

}

.social-footer{
  margin-top: 30px;
}

/*vista Un Libro*/

.img-unlibro{
  margin-left: 20px;
  margin-top: 30px;
 padding: 35px;
 width: 360px;
}

.card-title-libro{
  margin-top: 0% !important;
  margin-left: 0px;
  padding: 40px;
}

.card-text-unlibro{
  margin-left: 0%;
}


/*sidebar*/

.sidebar{
  background-color: #071b34;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    width: 450px;
    height: 100vh;
}

.sidebar-navbar{
  display: flex;
  justify-content: space-between; 
}


.nothing_main-content{
  align-items: center;
    background-color: #cfc8c8!important;
    color: whitesmoke;
    display: flex;
    flex-direction:column;
    justify-content: center;
    height: 100vh;

   
}

.user_main-content{
  display: flex;
}

main{
  width: -webkit-fill-available;
}

.fa-heart{
  margin-left: 50px;
}

.fa-plus-circle{
  margin-left: 50px;
}

.fa-comments{
 margin-left: 50px;
}


